.container {
  padding: 0 2rem;
  background-color: #0f0f0f;
  height: 100vh;
}

.main {
  height: 100%;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #6b6b6b;
}

.header {
  width: 100%;
  display: block;
  text-align: center;
  background-color: blue
}

.subcontainer {
  display: flex;
  width: 100%;
  height: 100%;
  outline: 1px solid black;
}